@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  /* Primary */
  --clr-violet: hsl(263, 55%, 52%);
  --clr-grayish-blue: hsl(217, 19%, 35%);
  --clr-blackish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  /* Neutral */
  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  --ff-base: 'Barlow Semi Condensed', sans-serif;

  --fw-regular: 500;
  --fw-bold: 600;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-base);
  font-size: 0.8125rem;
  font-weight: var(--fw-regular);
  color: var(--clr-light-gray);;
  background-color: var(--clr-light-grayish-blue);
  line-height: 1.5;
  padding: 1.5rem;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 2rem;
  max-width: 1100px;
}

.grid-item {
  padding: 25px 30px;
  border-radius: 8px;
}

.grid-item:nth-of-type(1) {
  background-color: var(--clr-violet);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 80% top;
  grid-column: 1 / 3;
}

.grid-item:nth-of-type(2) {
  background-color: var(--clr-grayish-blue);
}

.grid-item:nth-of-type(4) {
  background-color: var(--clr-blackish-blue);
  grid-column: 2 / 4;
}

.grid-item:nth-of-type(5) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.bg-white {
  background-color: var(--clr-white);
}

.author {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.author img {
  width: 30px;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
}

.author-info h4 {
  font-size: 0.95rem;
}

.author-info p {
  opacity: 0.5;
}

.heading {
  font-size: 1.24rem;
  font-weight: var(--fw-bold);
  margin-top: 15px;
  color: var(--clr-white);
  line-height: 1.3;
}

.description {
  margin-top: 18px;
  opacity: 0.7;
}

.bg-white .heading,
.bg-white .description,
.bg-white .user-name h4,
.bg-white .user-name p {
  color: var(--clr-grayish-blue);
}

@media (max-width: 992px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item:nth-of-type(1) {
    grid-column: auto;
  }

  .grid-item:nth-of-type(4) {
    grid-column: auto;
  }

  .grid-item:nth-of-type(5) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
}

@media (max-width: 768px) {
  .testimonials-grid {
    grid-template-columns: 1fr;
  }  

  .grid-item:nth-of-type(5) {
    grid-column: auto;
    grid-row: auto;
  }
}